@model  IEnumerable<AlertProfiler.CoreObject.Model.AccountToWalletLog>
@{
    ViewBag.Title = "Account To Wallet";
    Layout = "~/Views/Shared/_LayoutAlert.cshtml";
}

<h1>MTN Account to Wallet Transactions</h1>

<div class="" style="margin-bottom:70px;">
    <div class="col-md-8 col-sm-8 col-xs-8" style="padding:0px;">
        <form action="~/Transaction/AccountToWalletExport" method="post">

            <button type="submit" class="btn btn-success btn-xs" value="download" name="ButtonAction">CSV Download</button>


        </form>
    </div>
</div>


<div class="table-responsive" style="height: 900px !important;">
    <table id="ItemListTbl" class="table table-bordered table-striped table-hover display dataTable">
        <thead>
            <tr>
                <th>SNo.</th>
                <th>
                    AccountNumber
                </th>
                <th>
                    Wallet Id/Mobile
                </th>
                <th>
                    Reference
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Status
                </th>
                <th>
                    No of Attempts
                </th>
                <th>
                    Request Date
                </th>
                <th>
                    Lien Status
                </th>
                <th>Corebanking Code</th>
                <th>CoreBanking Message</th>
                <th>Finacle Tran Id</th>
                <th>Finacle Reference</th>
            </tr>
        </thead>
        <tbody>
            @{int sno = 1; }


            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr>
                <td>@sno</td>
                <td>
                    @item.AccountNumber
                </td>
                <td>
                    @item.WalletId
                </td>
                <td>
                    @item.ClientReferenceId
                </td>
                <td>
                    @item.Amount
                </td>
                <td>

                    @if (item.IsPosted == false)
                    {
                        <span class="label label-warning">Pending</span>
                    }
                    @if (item.IsPosted == true)
                    {
                        <span class="label label-success">Approved</span>
                    }
                </td>
                <td>
                    @item.NoOfAttempts
                </td>

                <td>
                    @item.DateCreated
                </td>
                <td>
                    @item.LienName
                </td>
                <td>
                    @item.CoreBankingResponseCode
                </td>
                <td>
                    @item.CoreBankingResponseMessage
                </td>
                <td>
                    @item.FinacleTranId
                </td>
                <td>
                    @item.TransactionReference
                </td>

            </tr>

                    sno++;
                }
            }

        </tbody>

    </table>
</div>



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ItemListTbl').dataTable();
        });
    </script>
}



