@model  AlertProfiler.CoreObject.DataTransferObjects.ManageSubscriberResponse
@using AlertProfiler.BusinessCore.Enum;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAlert.cshtml";
}

<h2>Orange Approval Report </h2>

<div class="row">
    @if (Model?.ResponseCode != null)
    {
        if (Model.ResponseCode != "00")
        {
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <h5><b>@Html.DisplayFor(model => model.ResponseMessage)</b></h5>
            </div>
        }

        if (Model.ResponseCode == "00")
        {
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <h5><b>@Html.DisplayFor(model => model.ResponseMessage)</b></h5>
            </div>
        }
    }
</div>


<h4>@ViewBag.Title</h4>
<div class="" style="margin-bottom:70px;">
    <div class="col-md-8 col-sm-8 col-xs-8" style="padding:0px;">
        <form action="~/ManageAlert/SubscriberBetweenDateRangeAction" method="post">
            <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
                <span><strong>From: </strong></span><input type="date" class="form-control" name="DateFrom" size="5" placeholder="Date From" value="@string.Format("{0:yyyy-MM-dd}", Model.DateFrom)" required />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
                <span><strong>To: </strong></span><input type="date" class="form-control" name="DateTo" size="5" placeholder="Date To" value="@string.Format("{0:yyyy-MM-dd}", Model.DateTo)" required />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top: 21px;">
                <button type="submit" class="btn btn-primary btn-xs" value="load" name="ButtonAction">Load</button>
            </div>
            <br />
        </form>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="float-right">
            @if (Model.ResponseCode == "00")
            {
                <form action="~/ManageSubscriber/ApproveAllSubscriberAction" method="post">
                    <div style="display:none;">
                        <input type="date" class="form-control" name="DateFrom" size="5" placeholder="Date From" value="@string.Format("{0:yyyy-MM-dd}", Model.DateFrom)" />
                        <input type="date" class="form-control" name="DateTo" size="5" placeholder="Date To" value="@string.Format("{0:yyyy-MM-dd}", Model.DateTo)" />
                    </div>
                    @*<button type="submit" class="btn btn-success btn-xs" value="approve" name="ButtonAction">Approve All</button>*@
                </form>
                <form action="~/ManageSubscriber/DisApproveAllSubscriberAction" method="post">
                    <div style="display:none;">
                        <input type="date" class="form-control" name="DateFrom" size="5" placeholder="Date From" value="@string.Format("{0:yyyy-MM-dd}", Model.DateFrom)" />
                        <input type="date" class="form-control" name="DateTo" size="5" placeholder="Date To" value="@string.Format("{0:yyyy-MM-dd}", Model.DateTo)" />
                    </div>
                    @*<button type="submit" class="btn btn-danger btn-xs" value="disapprove" name="ButtonAction">Disapprove All</button>*@
                </form>
            }
        </div>
    </div>
</div>

<div class="table-responsive" style="height: 900px !important;">
    <table id="ItemListTbl" class="table table-bordered table-striped table-hover display dataTable">
        <thead>
            <tr>
                <th>SNo.</th>
                <th>
                    Account Alias
                </th>
                <th>
                    AccountNumber
                </th>
                <th>
                    PhoneNumber
                </th>
                <th>
                    Description
                </th>
                <th>
                    CreatedBy
                </th>
                <th>
                    ApprovedBy
                </th>
                <th>
                    Date
                </th>
                <th>
                    Status
                </th>

                <th>
                    Action
                </th>
                <th>
                    Rejection Reason
                </th>
            </tr>
        </thead>
        <tbody>
            @{int sno = 1; }


            @if (Model.ResponseCode == "00")
            {
                foreach (var item in Model.OrangeSubscribers)
                {
            <tr>
                <td>@sno</td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountAlias)
                </td>
                <td>

                    <span class="label label-primary">@item.AccountNumber</span>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>


                    @if (item.Description.ToString().Length > 19)
                    {
                        @item.Description.ToString().Substring(0, 19) <span style="cursor:pointer;" title="Click to view all Description!">[More...]</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Description)
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @if (item.IsApproved == (int)Status.Pending || item.IsApproved == (int)Status.UnSubscribePending || item.IsApproved == (int)Status.ReSubscribePending || item.IsApproved == (int)Status.UpdatePending)
                    {
                        <span class="label label-warning">@Enum.GetName(typeof(Status), item.IsApproved)</span>
                    }
                    @if (item.IsApproved == (int)Status.Approved || item.IsApproved == (int)Status.ReSubscribeApproved || item.IsApproved == (int)Status.UnSubscribeApproved || item.IsApproved == (int)Status.UpdateApproved)
                    {
                        <span class="label label-success">@Enum.GetName(typeof(Status), item.IsApproved)</span>
                    }
                    @if (item.IsApproved == (int)Status.DisApproved || item.IsApproved == (int)Status.ReSubscribeDisApproved || item.IsApproved == (int)Status.UnSubscribeDisApproved || item.IsApproved == (int)Status.UpdateDisApproved)
                    {
                        <span class="label label-danger">@Enum.GetName(typeof(Status), item.IsApproved)</span>
                    }
                </td>

                <td>
                    @if (item.IsApproved == (int)Status.Pending || item.IsApproved == (int)Status.UnSubscribePending || item.IsApproved == (int)Status.ReSubscribePending || item.IsApproved == (int)Status.UpdatePending)
                    {
                        <a href="~/ManageOrangeSubscriber/Approve?id=@item.AccountAlias" class="btn btn-xs btn-success">Approve</a>
                        <br />
                        <button type="submit" class="btn btn-xs btn-danger" id="btnLink" data-id='@item.AccountAlias' onclick="moveNumbers()">Disapprove</button>
                        <br /> <br />
                        <input class="input-sm single-line" id="mapid" name="mapid" type="text" value="@item.AccountAlias" style="width: 50px;" hidden>
                    }
                </td>
                <td>
                    @item.RejectionReason
                </td>

            </tr>

                    sno++;
                }
            }

        </tbody>

    </table>
</div>

<div class="modal fade" id="ModalPopUp" role="dialog">
    <div class="modal-dialog err-pop" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <form action="~/ManageOrangeSubscriber/DisApprove" method="post">

                    <div class="row">

                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <h1 class="page-head-line">Please enter rejection reason</h1>
                            <div class="panel-body" id="LoginDiv">
                                <input class="input-sm single-line" id="RequestId" name="RequestId" type="text" style="width: 50px;" hidden>
                                <textarea class="input-xlarge" id="RejectionReason" name="RejectionReason" rows="8" cols="0" placeholder="Rejection Reason" style="width: 400px; height:150px" maxlength="200"></textarea>

                                <span class="field-validation-valid text-danger" data-valmsg-for="RejectionReason" data-valmsg-replace="true"></span>
                                <div>
                                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                                    <input type="submit" value="Submit" class="btn btn-primary btn-xs" title="Submit!">

                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<script>
    function moveNumbers() {
        var txt = document.getElementById("mapid").value;
        document.getElementById("RequestId").value = txt;
        $('#ModalPopUp').modal('show');
    }
</script>


<script src="https://code.jquery.com/jquery-1.10.0.min.js"
        integrity="sha256-2+LznWeWgL7AJ1ciaIG5rFP7GKemzzl+K75tRyTByOE="
        crossorigin="anonymous"></script>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ItemListTbl').dataTable();
        });
    </script>
}



